<!DOCTYPE html>
<!-- Bootstrap Navigation Code -->
<th:block xmlns:th="http://www.w3.org/1999/xhtml" th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

        <h2 style="color:white; width:auto; margin-right:10px">P1 Mortmons</h2>
        <link rel="shortcut icon" type="image/png" href="images/amongsus.png"/>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Bootstrap menus -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <!--root menu -->
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only"></span></a>
                </li>
                <div class="collapse navbar-collapse" id="navbarNavDarkDropdown0">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink0" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                About
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink0">
                                <a class="dropdown-item" href="/aboutYeonjoon">Yeonjoon</a>
                                <a class="dropdown-item" href="/aboutDhruv">Dhruv</a>
                                <a class="dropdown-item" href="/aboutRyan">Ryan</a>
                                <a class="dropdown-item" href="/aboutSam">Sam</a>
                                <a class="dropdown-item" href="/aboutRohan">Rohan</a>
                            </ul>
                        </li>
                    </ul>
                </div>

                <li class="nav-item active">
                    <a class="nav-link" href="/BMI Calculator">BMI Calculator<span class="sr-only"></span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/drawSquare">Draw Square<span class="sr-only"></span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/quiz">Nutrition Quiz<span class="sr-only"></span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/recipeapi">Fun Recipes<span class="sr-only"></span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/Questionnaire">Questionnaire<span class="sr-only"></span></a>
                </li>
Ti                <li class="nav-item active">
                    <a class="nav-link" href="/ToDo">ToDo<span class="sr-only"></span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/square">Square<span class="sr-only"></span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/replit">Replit<span class="sr-only"></span></a>
                </li>
            </ul> 
            <!-- Clock display -->
            <div class="px-3">
                <span id="clock"></span>
            </div>
            <!-- Dark mode action -->

            <!-- Navigation bar JavaScript support -->
        </div>
    </nav>
</th:block>