<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en" >

<div layout:fragment="head" th:remove="tag">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>BMI Calculator</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel = "stylesheet" href = "/css/BMIStyle.css">
</div>

<div layout:fragment="body" th:remove="tag">

<body>
<div class = "container">
    <div class = "main-wrapper">
        <div class = "bmi-heads">
            <div id = "bmi-usc-head" class = "bmi-head active-head">
                <h2>US Units</h2>
            </div>
            <div id = "bmi-si-head" class = "bmi-head">
                <h2>Metric Units</h2>
            </div>
        </div>

        <div class="bmi-contents">
            <!-- bmi us units -->
            <div class = "bmi-content" id = "bmi-usc">
                <form>
                    <div class = "form-grp">
                        <p>Age</p>
                        <input type = "text" class = "form-inp" placeholder="2 - 120" id = "age1">
                    </div>

                    <div class = "form-grp-col">
                        <p>Gender</p>
                        <div>
                            <input type = "radio" name = "gender" id = "male" value = "male" checked>
                            <label for = "male">Male</label>
                        </div>
                        <div>
                            <input type="radio" name = "gender" id = "female" value = "female">
                            <label for = "female">Female</label>
                        </div>
                    </div>

                    <div class = "form-grp-col">
                        <p>Height</p>
                        <input type = "text" class = "form-inp" id = "feet" placeholder="feet">
                        <input type = "text" class = "form-inp" id = "inches" placeholder="inches">
                    </div>

                    <div class = "form-grp">
                        <p>Weight</p>
                        <input type = "text" class = "form-inp" id = "pounds" placeholder="pounds">
                    </div>
                </form>
            </div>

            <!-- bmi metric units -->
            <div class = "bmi-content" id = "bmi-si">
                <form>
                    <div class = "form-grp">
                        <p>Age</p>
                        <input type = "text" class = "form-inp" placeholder="2 - 120" id = "age2">
                    </div>

                    <div class = "form-grp-col">
                        <p>Gender</p>
                        <div>
                            <input type = "radio" name = "gender" id = "male" value = "male" checked>
                            <label for = "male">Male</label>
                        </div>

                        <div>
                            <input type = "radio" name = "gender" id = "female" value = "female">
                            <label for = "female">Female</label>
                        </div>
                    </div>

                    <div class = "form-grp">
                        <p>Height</p>
                        <input type = "text" class = "form-inp" id = "cm" placeholder="cm">
                    </div>

                    <div class = "form-grp">
                        <p>Weight</p>
                        <input type = "text" class = "form-inp" id = "kg" placeholder="kg">
                    </div>
                </form>
            </div>
        </div>

        <div class = "btns">
            <button type = "button" id = "calc-btn" class = "button">Calculate</button>
            <button type = "button" id = "clr-btn" class = "button">Clear</button>
        </div>

        <div class = "output">
            <span class = "alert-error">Some input are invalid!</span>
            <div class = "bmi-output">
                <h3 id = "bmi-value"></h3>
                <p id = "bmi-category"></p>
                <p id = "bmi-gender"></p>
            </div>
        </div>
    </div>
</div>
</body>
<script src = "/JS/script.js"></script>

</div>