<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">

<head><div layout:fragment="head" th:remove="tag">
    <title>Light FRQ</title>
</div></head>

<body><div layout:fragment="body" th:remove="tag">
    <!-- Start of body content specific to page -->

    <!-- Start of body content specific to page -->
    <div id="spring_intro" class="articles" style="margin: 10px;">
        <h1 style="font-size: 70px; text-align:center;">Unit 2 FRQ</h1>
        <div>
            <h1 style="color:purple">Initial Sequence: <span th:text="${s}">1</span></h1>
        </div>
        <div>
            <h1 style="color: purple">
                New Sequence: <span th:text="${t}">1</span>
            </h1>
        </div>
        <div>
            <h1 style="color: purple">Inserted Sequence: <span th:text="${n}">1</span></h1>
        </div>
        <div>
            <h1 style="color: purple">New Augmented Sequence: <span th:text="${newSeq}">1</span></h1>
        </div>
        <div>
            <h1 style="color: purple">Pythagorean Result <span th:text="${c}">1</span></h1>
        </div>
    </div>
    <!-- End of body content specific to page -->

    <!-- End of body content specific to page -->
</div></body>

</html>