<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ALL TRI 2 FRQs - SAM</title>
</head>
<body>

<h1>FRQ 2</h1>
a) LightSequence gradShow = new LightSequence("0101 0101 0101");
1b) gradShow.display();
1c) gradShow.changeSequence("0011 0011 0011")
1d) String resultSeq = gradShow.insertSegment("1111 1111", 4);
1e) String newSeq = oldSeq.replaceFirst(segment, "");
1f) double c = Math.sqrt(Math.pow(a, 2) + Math.pow(b, 2))

<h2>FRQ 3</h2>
1a) int selection;
String option1;
String option2;
if(rsvp == true){
System.out.println("attending");
}else{
System.out.println("not attending"); }

1b)System.out.print("beef")
{
if selection == 2{
System.out.print("chicken") }
if selection ==3{
System.out.print("pasta")
}
Else {
System.out.print("fish")
}

1c)(if (rsvp == true && selection = 1){
option1 = "Thanks for attending. You will be served beef.";
}
else{
option1 = "Sorry you can't make it.";
}
)

1d)(
rsvp = false;
if (option1==(option2)){
rsvp = true; }
System.out.print(rsvp);
)




</body>
</html>